:root{
    --color-title: #7B6856;;
    --color-title-section: rgb(100 100 100);
    --color-text: black;;
    --color-list: #767676;
    --color-h3: #4F4F4F;
    --color-background-circles: rgba(206, 189, 173, 0.61);
    --color-background: #FFF2E6;
    --color-link: #fa4d03;
}