
body{
    
    background: var(--color-backgroun-body);
    
}
.body__wrapper {
    position: relative;
    max-width: 595px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background: var(--color-background);
    border: 1px solid var(--color-border) ;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
    
}

.background{
    /* position: relative; */
    z-index: 99;   
}

.background-item{
    position: absolute;
    border-radius: 50%;
    background: var(--color-background-circles);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(5px);
     
}

#item1{
    width: 337px;
    height: 337px;
    left: 304px;
    top: 560px;
}
#item2{
    width: 107px;
    height: 107px;
    left: 147px;
    top: -22px;
}
#item3{
    width: 107px;
    height: 107px;
    left: 72px;
    top: 714px;
}
#item4{
    width: 31px;
    height: 31px;
    left: 82px;
    top: 650px;
}
#item5{
    width: 157px;
    height: 157px;
    left: 254px;
    top: 140px;
}
#item6{
    width: 294px;
    height: 294px;
    left: -147px;
    top: 280px; 
}
#item7{
    width: 106px;
    height: 106px;
    left: 529px;
    top: -52px;
}


.head__wrapper {
    display: flex;
    width: 100%;
    height: 226px;
    z-index: 100;

}
.photo__wrapper {
    margin: 20px;
    z-index: 100;
}

img{
    filter: drop-shadow(0px 4px 4px var(--color-img-shadow));
}

.title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.title h1{
    font-family: 'Koulen', regular;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-title);
}

.title h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-align: center;
    color:var(--color-text);

}
.section__wrapper {
    width: 100%;
    padding: 10px;
    z-index: 100;
    
}
.section__row {
    display: flex;
    
}
.section__content {
    flex: 0 1 50%;
    position: relative;
    z-index: 100;
}
.section__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    text-align: center;
    color: var(--color-title-section);
    margin-bottom: 10px;
    z-index: 100;
}
.content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: var(--color-text);
    margin-left: 25px;
}

.section__content__contacts{
    position: relative;
}

.section__content__contacts::before{
    content: '';
    position: absolute;
    left: -13.5px;
    top: 80px;
    height: 54px ;
    width: 2px;
    background: var(--color-list);

}

.contact {
    padding-bottom: 16px;
}

.content__info {
    /* margin-left: 25px; */
}


.content__info__portfolio::before{
    content: '';
    position: absolute;
    left: -17.5px;
    top: 78px;
    height: 10px ;
    width: 10px;
    border-radius: 50%;
    background: var(--color-list);

}
.content__info__portfolio a  {
    margin-left: 20px;
    color: var(--color-text);
}

.content__info__portfolio a span{
    /* margin-left: 20px; */
    font-size: 10px;
}
.content__info__my-project::before{
    content: '';
    position: absolute;
    left: -17.5px;
    top: 124px;
    height: 10px ;
    width: 10px;
    border-radius: 50%;
    background: var(--color-list);
}

.content__info__my-project a {
    margin-left: 20px;
    color: var(--color-text);
}
a:hover {
    color: var(--color-link);
}

.section__content__education{
    position: relative;
}

.section__content__education::before{
    content: '';
    position: absolute;
    left: -13.5px;
    top: 9px;
    height: 123px ;
    width: 2px;
    background: var(--color-list);

}

.content__info__infomation {
    padding-bottom: 15px;
}

.content__info__infomation::before{
    content: '';
    position: absolute;
    left: -17.5px;
    top: 3px;
    height: 10px ;
    width: 10px;
    border-radius: 50%;
    background: var(--color-list);
}

.content__info__infomation span {
    font-size: 10px;
}

.content__info__management {
    padding-bottom: 15px;
}

.content__info__management::before{
    content: '';
    position: absolute;
    left: -17.5px;
    top: 64px;
    height: 10px ;
    width: 10px;
    border-radius: 50%;
    background: var(--color-list);
}

.content__info__management span {
    font-size: 10px;
}

.content__info__secretary {
    padding-bottom: 15px;
}

.content__info__secretary::before{
    content: '';
    position: absolute;
    left: -17.5px;
    top: 124px;
    height: 10px ;
    width: 10px;
    border-radius: 50%;
    background: var(--color-list);
}

.content__info__secretary span {
    font-size: 10px;
}
.content__info__technologies h3 {
    font-weight: 500;

}

.section__skills{
    position: relative;
}

.section__skills::before {
    content: '';
    position: absolute;
    left: -13.5px;
    top: 8px;
    height: 270px;
    width: 2px;
    background: var(--color-list);
}

.content__info__technologies::before{
    content: '';
    position: absolute;
    left: -17.5px;
    top: 2px;
    height: 10px ;
    width: 10px;
    border-radius: 50%;
    background: var(--color-list);
}

.section__skills li{
    margin-left: 5px;
    font-size: 11px;
}
.content__info__tools  h3 {
    font-weight: 500;

}

.content__info__tools::before{
    content: '';
    position: absolute;
    left: -17.5px;
    top: 197px;
    height: 10px ;
    width: 10px;
    border-radius: 50%;
    background: var(--color-list);
}

.content__info__language  h3 {
    font-weight: 500;

}

.content__info__language::before {
    content: '';
    position: absolute;
    left: -17.5px;
    top: 273px;
    height: 10px ;
    width: 10px;
    border-radius: 50%;
    background: var(--color-list);

}

.section__experience{
    position: relative;
}

.section__experience::before {
    content: '';
    position: absolute;
    left: -13.5px;
    top: 8px;
    height: 270px;
    width: 2px;
    background: var(--color-list);
}



.section__experience li{
    font-size: 11px;
}

.content__info__freelance::before{
    content: '';
    position: absolute;
    left: -17.5px;
    top: 2px;
    height: 10px ;
    width: 10px;
    border-radius: 50%;
    background: var(--color-list);
}

.content__info__freelance  h3 {
    font-weight: 500;

}

.experience__item{
    padding-bottom: 35px;
}

.content__info__coyot::before{
    content: '';
    position: absolute;
    left: -17.5px;
    top: 143px;
    height: 10px ;
    width: 10px;
    border-radius: 50%;
    background: var(--color-list);
}

.content__info__coyot  h3 {
    font-weight: 500;

}

.content__info__vilk::before{
    content: '';
    position: absolute;
    left: -17.5px;
    top: 208px;
    height: 10px ;
    width: 10px;
    border-radius: 50%;
    background: var(--color-list);
}

.content__info__vilk  h3 {
    font-weight: 500;

}
.content__info__vilk  span {
    font-size: 10px;

}

.content__info__alz::before{
    content: '';
    position: absolute;
    left: -17.5px;
    top: 273px;
    height: 10px ;
    width: 10px;
    border-radius: 50%;
    background: var(--color-list);
}

.content__info__alz  h3 {
    font-weight: 500;

}
.content__info__alz  span {
    font-size: 10px;

}

.toggler__wraper{
position: absolute;
display: flex;
left: 64%;
top: 7%;
z-index: 105;

}

.toggler__lang{
    margin-right: 2px;
}

.lang-button{
    height: 30px;
    width: 30px;
    background: var(--color-background);
    color: var(--color-text);
    filter: drop-shadow(0px 4px 4px var(--color-img-shadow));
    border-radius: 5px;
    border: 1px solid var(--color-border);
    margin-right: 2px;
}

.s-icon {
    height: 30px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background: var(--color-background);
    color: var(--color-text);
    /* right: 100%; */
    border: 1px solid var(--bg-black-50);
    margin-right: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px var(--color-img-shadow));
    border: 1px solid var(--color-border);
}

.s-icon i {
    line-height: 30px;
}