/* .body-dark{
    background: #dcd8d8;
}

.body__wrapper-dark{
    background: var(--color-background-dark);
}


.background {
}
.background-item {
    background: var( --color-background-circles-dark);
}
.head__wrapper {
}
.photo__wrapper {
}
.title h1 {
    color: var(--color-title-dark);
}

.section__title {
    color: var(--color-title-section-dark);
}
.content {
    color: var(--color-text-dark);
}

.section__content__contacts::before{
    content: '';
    background: var(--color-list-dark);
} */
.section__content__contacts {
}
.contact {
}
.content__info {
}
.content__info__portfolio {
}
.content__info__my-project {
}
.section__content__education {
}
.content__info__infomation {
}
.content__info__management {
}
.content__info__secretary {
}
.section__skills {
}
.content__info__technologies {
}
.content__info__tools {
}
.content__info__language {
}
.section__experience {
}
.experience__item {
}
.content__info__freelance {
}
.content__info__coyot {
}
.content__info__vilk {
}
.content__info__alz {
}
.toggler__wraper {
}
.toggler__lang {
}
.toggler__lang__EN {
}
.toggler__lang__UA {
}
.toggler__day-night {
}
.day-night {
}
.s-icon {
}
.fas {
}
.fa-moon {
}